<div id="barra">
    <button (click)="EnviarGrupo(grupo)" [ngStyle]="{'background-color':colores[indice]}" class="btn btn-primary"  *ngFor="let grupo of gruposEvaluacion;let indice=index" >{{grupo.nomGrupoEvaluacion.charAt(0)}}</button>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#form-crear-grupo">+</button>
</div>


<!-- Modal Crear Grupo de evaluacion-->
<div class="modal fade" id="form-crear-grupo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" >
            <div class="modal-header" style="display: flex;flex-direction: column;align-items: start;border: none;padding-top: 30px;">
                <h5 class="modal-title" >Nuevo Grupo</h5>
                <p style="font-size: 14px;padding-top: 5px;font-style: normal;width: 62%;">Ingrese el nombre del grupo de evaluación antes de crear sus iteraciones</p>
            </div>
            <div class="modal-body">
                <div class="input-box">
                    <input [(ngModel)] = "grupoEvaluacionCreado.nomGrupoEvaluacion" type="text" placeholder="Ingrese el nombre">
                </div>
            </div>
            <div class="modal-footer" style="border: none;padding-top:40px; ">
                <button  class="btn-aceptar" style="margin-right: 20px;"  (click)="AgregarGrupo()" data-bs-dismiss="modal">Continuar</button>
                <button  class="btn-cancelar" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
