.filas{
  display: flex;
  align-items: center;
  padding-bottom: 7px;
}

.filas p {
  margin: 0 0 0 45px !important;
font-family: "Jaldi";
}


#menu-perfil{
  cursor: auto;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.30);
  position: absolute;
  top: 220px;
  font-size: 10px;
  width: 199px;
  padding: 12px;
  z-index: 1;
}

.modal-footer{
  justify-content: flex-start;
padding-bottom:34px;
}
.btn-cancelar{
  flex-shrink: 0;
  border-radius: 5px;
  background: radial-gradient(2466.87% 67.10% at 42.41% 25.00%, rgba(0, 151, 162, 0.23) 0%, rgba(0, 151, 162, 0.30) 55.73%, rgba(0, 151, 162, 0.11) 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  border: none;
  text-align: center;
  align-items: center;

  font-size: 18px;
  width: 28%;
  height: 40px;
  align-self: center;
  transition: 1s;
  color: #494949;
}
.btn-aceptar{
  flex-shrink: 0;
  border-radius: 5px;
  background: radial-gradient(2466.87% 67.10% at 42.41% 25.00%, rgba(0, 151, 162, 0.77) 0%, #0097A2 55.73%, rgba(0, 151, 162, 0.58) 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  border: none;
  text-align: center;
  align-items: center;

  font-size: 18px;
width: 28%;
  height: 40px;
  align-self: center;
  transition: 1s;
color: white;
}
.modal-content{
  width: 90%;
}
.input-box{

  transition: 0.3s;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 36px;
  margin-top: 10px;
  border-radius: 5px;
  border-bottom: 3px ridge #0097A2;
  border-left: 1px ridge #0097A2;
  border-right: 1px ridge #0097A2;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.20);
}
.input-box input:focus {
  outline: none;
}
.input-box input{
  border: none;
  margin-left:12px;
  background-color: transparent;
  width: 100%;
  font-size: 14px;

}

.ico_fecha_abajo{
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  background: url("~../../../img/ico_flecha_abajo.png");
  border: none;
  background-size: contain;
}

.ico_edit{
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  background: url("~../../../img/ico_edit.jpg");
  border: none;
}
.ico_eli{
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  background: url("~../../../img/ico_eli.jpg");
  border: none;
}

.ico_archivo{
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  background: url("~../../../img/ico_archivo.png");
  border: none;
}

.opciones{
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.30);
display: flex;
  justify-content: space-evenly;
  width: 50px;
  height: 22px;
  align-items: center;
  vertical-align: middle;
  position: absolute;
  right: 60px;
  top: 450px;
}
.ico_3p{
  background: url("~../../../img/ico_3p.jpg");
  width: 14px;
  height: 14px;
  border: none;
  transition: 1s;
}
.ico_3p:hover{
  transition: 1s;
  transform: scale(1.1);
}
th p{
  margin: 0px;
  vertical-align: middle;
  display: flex;
  text-align: center;
  align-items: center;
  margin-left: 10px;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ico_iteracion{
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  background: url("~../../../img/ico_iteracion.png");
}
.table{
  text-align: center;
align-items: center;
  vertical-align: middle;
}
.cir-perfil{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.20);
  background-image: url("~../../../img/buscar.png");
  background-repeat: no-repeat;
  background-position: center;
}
.cir-perfil:hover{
  cursor: pointer;
}
#col2{
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
width: 38.5vw;
  margin-right: 140px;
}
#box-iteraciones{
  padding-top: 98px;

}
#iteraciones{
  border-radius: 5px;
  border: 2px solid #0097A2;
  background: #FFFEFE;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20) inset;
  height: 220px;
  width: 165%;
  overflow-y: scroll;
  overflow-x: scroll;
}
.table-responsive{
  overflow-x: unset;

}
h2{
  font-size: 1.4rem;

}
#big-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}
#box-nombre-grupo{
  width: 199px;
  height: 85px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.20);
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 36px;
}
#box-nombre-grupo p{
  margin: 8px;
  color: rgba(0, 0, 0, 0.56);
  font-family: "Jaldi";
  font-size: 14.5px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
#btn-crear-iteracion{
  background: radial-gradient(66% 396.1% at 26.41% 25%, rgba(0, 151, 162, 0.77) 0%, #0097A2 55.73%, rgba(0, 151, 162, 0.38) 100%);
  color: aliceblue;
  width: 160px;
  height: 85px;
  font-size: 30px;
}
#big-box{
  margin-left: 30px;

}
.btn-primary{
  border-radius: 10px;
  border: none;
  background: linear-gradient(281deg, rgba(255, 255, 255, 0.70) 0%, #FFF 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: 10px;
  color: black;
  font-size: 18px;
  font-weight: bold;
}
@media (max-width: 900px){
  #menu-perfil{
    top: 60px;
    width: 140px;
  }

  .filas p {
    margin: 0 0 0 20px !important;
  }

  #col1{
    position: absolute;
  }
  #box-nombre-grupo{
    position: absolute;
    top: -110px;
    left: 60px;
    height: 58px;
    border-radius: 10px;
    background: transparent;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
    width: 140px;

  }
  #box-nombre-grupo p{
    font-size: 11px;
  }

#burbu-perfil{
  display: none;
}
#col2{
  margin-left: 42px;
}
  #logo-buscar{
    background-image: url("~../../../img/buscar.png");
    width: 24px;
    height: 20px;
  }
  #burbu-buscador{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.20);
    background-image: url("~../../../img/buscar.png");
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: center;
    top: 30px;
    left: 4px;
    position: absolute;
  }

  #burbu-buscador:hover{
    cursor: pointer;

  }
}
