<app-menu3 [indiceSend]="31" ></app-menu3>
<app-barra  ></app-barra>
<main style="margin-right: 70px;margin-left: 70px;">

  <div id="fila1-main">

<div class="metrica">
  <p style="font-size: 30px;">Calidad</p>
<div class="card-p">{{indiceCalidad.toFixed(0) +'%'}}</div>
</div>

    <div class="metrica">
      <p>Idoneidad</p>
      <div class="card">{{idoneidad.toFixed(0) +'%'}}</div>
    </div>


    <div class="metrica">
      <p>Usabilidad</p>
      <div class="card">{{usabilidad.toFixed(0) +'%'}}</div>
    </div>


    <div class="metrica">
      <p>Rendimiento</p>
      <div class="card">{{rendimiento.toFixed(0) +'%'}}</div>
    </div>


  </div>

  <div id="fila2-main">

    <div id="col1">
      <div id="nivel-madurez">

        <p>Nivel de madurez</p>
        <div id="card-nivel">{{nivelMadurez}}</div>
      </div>

      <div id="iteracion">{{iteracion.nombIteracion + ': status'}}</div>

    </div>
    <div id="col2">

<div id="box-chart" style="display: flex;justify-content: center;vertical-align: middle;align-items: center;">
  <canvas baseChart
          [data]="barChartData"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [type]="'bar'">
  </canvas>
</div>
    </div>
  </div>

  <div id="fila3-main">
    <button id="aceptar" (click)="IrA('/inicio')" >Aceptar y regresar</button>
  </div>

</main>
