<app-menu3 [indiceSend]="31" ></app-menu3>
<app-barra  ></app-barra>
<main style="margin-right: 70px;margin-left: 70px;">

  <div id="fila1-main">

<div class="metrica">
  <p style="font-size: 30px;">Calidad</p>
<div class="card-p">67%</div>
</div>

    <div class="metrica">
      <p>Idoneidad</p>
      <div class="card">{{idoneidad +'%'}}</div>
    </div>


    <div class="metrica">
      <p>Usabilidad</p>
      <div class="card">67%</div>
    </div>


    <div class="metrica">
      <p>Rendimiento</p>
      <div class="card">67%</div>
    </div>


  </div>

  <div id="fila2-main">

    <div id="col1">
      <div id="nivel-madurez">

        <p>Nivel de madurez</p>
        <div id="card-nivel">3</div>
      </div>

      <div id="iteracion">Iteracion 1: status</div>

    </div>
    <div id="col2">

<div id="box-chart"></div>
    </div>
  </div>

  <div id="fila3-main">
    <button id="aceptar">Aceptar y regresar</button>
  </div>

</main>
