#iniciar{
  margin-top: 80px;
  width: 289px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 10px;
  background: radial-gradient(2466.87% 67.10% at 42.41% 25.00%, rgba(0, 151, 162, 0.77) 0%, #0097A2 55.73%, rgba(0, 151, 162, 0.38) 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  border: none;
  text-align: center;
  align-items: center;
  font-family: Jockey One;
  font-size: 26px;
  font-style: normal;
  font-weight: bold;
  letter-spacing:2px;
  align-self: center;

}
#card{
  text-align: center;
  border-radius: 20px;
  background: linear-gradient(180deg, rgba(0, 151, 162, 0.47) 33.33%, #0097A2 79.69%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.30);
  width: 345px;
  height: 419px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#box-data{
  display: flex;
  justify-content: center;
  flex-direction: column;

}
.input-box{
  display: flex;
  justify-content: center;
  flex-direction: row;

}

#txt-iniciar-sesion{

  font-family: Jockey One;
  font-size: 26px;
  font-style: normal;
  font-weight: bold;
  letter-spacing:2.0px;
}
