<app-menu [validadorRedirect]=true></app-menu>
<div style="width: 100vw;height: 80vh;display: flex;justify-content: center;align-items: center;">
<div id="card">
  <div id="txt-iniciar-sesion">Iniciar Sesión</div>
<div id="box-data">

  <div class="input-box" style="margin-bottom: 30px;">
    <i id="logo-usuario"></i>
    <input type="text" placeholder="Usuario">
  </div>

  <div class="input-box">
    <i id="logo-contra"></i>
    <input type="password" placeholder="Contraseña">
  </div>


  <div id="box-hiper">
    <p>¿Olvistaste la contraseña?</p>
    <p id="ir-registro" (click)="IrA('/register')">¿No tienes una cuenta?</p>
  </div>

  <button id="iniciar" type="button" class="btn btn-primary">Ingresar</button>

</div>
</div>
</div>
