
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">


      <div id="logo_nombre">
        <div id="logo"></div>
        <p id="nombre">Pítore</p>
      </div>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul id="saber_mas_iniciar_sesion" class="navbar-nav">
        <li class="nav-item">
          <button *ngIf="getURL()=='/'"  type="button" class="btn btn-primary">Saber más</button>
        </li>
        <li class="nav-item">

          <button *ngIf="getURL()=='/'" type="button" (click)="IrALogin('/login')"  class="btn btn-primary" >Iniciar sesión</button>

        </li>

      </ul>
    </div>
  </div>
</nav>

