<app-menu3 [indiceSend]="indicePregunta" ></app-menu3>
<app-barra ></app-barra>
<div id="mini-main" style="height: 100vh; vertical-align: middle;">
<div id="box" >
<div id="nombre-iteracion"  > <p >{{iteracion.nombIteracion}}</p></div>
<div id="big-box">

  <div id="opciones">
    <div id="retroceder" (click)="restarIndice()"></div>
    <div id="salir"(click)="detallePreguntaService.InsertarDetallePregunta(detallePreguntas[0]).subscribe()"></div>
  </div>
<p id="texto-pregunta"> {{preguntas[indicePregunta].tPregunta}}  </p>

  <div class="modal-footer" style="border: none;padding-top:80px; " *ngIf="indicePregunta<12">
    <button  class="btn-aceptar" (click)="Responder(1)" style="margin-right: 20px;"   >Sí</button>
    <button  class="btn-cancelar" (click)="Responder(0)" >No</button>
  </div>

  <div class="modal-footer2" style="border: none;padding-top:80px; " *ngIf="indicePregunta>=12&&indicePregunta<30">
    <button  class="btn-aceptar" (click)="Responder(7)" style="margin-right: 20px;"  >Totalmente de acuerdo</button>
    <button  class="btn-aceptar" (click)="Responder(6)">De acuerdo</button>
    <button  class="btn-aceptar" (click)="Responder(5)" style="margin-right: 20px;"  >Moderadamente de acuerdo</button>
    <button  class="btn-aceptar" (click)="Responder(4)">Ni de acuerdo ni en desacuerdo</button>
    <button  class="btn-aceptar" (click)="Responder(3)" style="margin-right: 20px;"  >Moderadamente en desacuerdo</button>
    <button  class="btn-aceptar" (click)="Responder(2)">En desacuerdo</button>
    <button  class="btn-aceptar" (click)="Responder(1)" style="margin-right: 20px;"  >Totalmente en desacuerdo</button>
  </div>

  <div class="modal-footer3" style="border: none;padding-top:80px; " *ngIf="indicePregunta==30">

    <div class="input-box" id="buscador">
      <i id="logo-porcentaje"></i>
      <input  [(ngModel)]="detallePreguntas[indicePregunta].tRespuestaPregunta" type="number" [max]="100" placeholder="AUC - ROC">
    </div>

    <button  *ngIf="!((detallePreguntas[indicePregunta].tRespuestaPregunta!=null)&&(detallePreguntas[indicePregunta].tRespuestaPregunta>=0&&(detallePreguntas[indicePregunta].tRespuestaPregunta<=100)))" class="btn-aceptar" data-bs-toggle="modal" data-bs-target="#form-terminar-iteracion" [disabled]="true" style="opacity: 0.7;">Terminar</button>
    <button  *ngIf="(detallePreguntas[indicePregunta].tRespuestaPregunta!=null)&&(detallePreguntas[indicePregunta].tRespuestaPregunta>=0&&(detallePreguntas[indicePregunta].tRespuestaPregunta<=100))"  class="btn-aceptar" data-bs-toggle="modal" data-bs-target="#form-terminar-iteracion" >Terminar</button>

  </div>
</div>
</div>
</div>

<!-- Modal iniciar iteracion -->
<div class="modal fade" id="form-terminar-iteracion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="display: flex;flex-direction: column;align-items: start;border: none;padding-top: 30px;">
        <h5 class="modal-title" >Terminar iteración</h5>
        <p style="font-size: 14px;padding-top: 5px;">Terminar de registrar la iteración</p>
      </div>
      <div class="modal-footer" style="border: none;padding-top:40px; ">
        <button type="button" class="btn-aceptar" style="margin-right: 20px;" data-bs-dismiss="modal" (click)="TerminarCuestionario()">Terminar</button>
        <button type="button" class="btn-cancelar" data-bs-dismiss="modal">Aún no</button>
      </div>
    </div>
  </div>
</div>
