
<div id="mini-main" style="height: 100vh; vertical-align: middle;">
<div id="box" >
<div id="nombre-iteracion"> <p>{{iteracion.nombIteracion}}</p></div>
<div id="big-box">

  <div id="opciones">
    <div id="retroceder"></div>
    <div id="salir"></div>
  </div>
<p id="texto-pregunta"> {{preguntas.at(indicePregunta).tPregunta}}  </p>

  <div class="modal-footer" style="border: none;padding-top:80px; ">
    <button  class="btn-aceptar" (click)="sumarIndice()" style="margin-right: 20px;"  >Sí</button>
    <button  class="btn-cancelar" (click)="restarIndice()">No</button>
  </div>
</div>
</div>
</div>
