<nav class="navbar navbar-expand-lg bg-body-tertiary" id="menu">
  <div class="container-fluid">
    <div id="box-superior">
      <div id="logo_nombre" (click)="IrA('/inicio')" >
        <div id="logo"></div>
        <p id="nombre">Pítore</p>
      </div>

      <div *ngIf="usuario.imgUsuario=='logo_usuario.png'" [style.background-image]="'url(' + usuario.imgUsuario + ')'" id="burbu-perfil" class="cir-perfil" (click)=Validador()>
        <div *ngIf="GetValidador()==true" id="menu-perfil" >
          <div class="filas">
            <div *ngIf="usuario.imgUsuario=='logo_usuario.png'" [style.background-image]="'url(' + usuario.imgUsuario + ')'"  id="logo_usuario"></div>
            <p>{{usuario.nomUsuario}}</p>
          </div>
          <div class="filas">
            <div  id="salir"></div>
            <p (click)="CerrarSesion()">Cerrar sesión</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
