<div id="fondo_col"></div>
<app-menu></app-menu>

<div id="segunda_fila">

  <div id="primera_col">
    <p id="texto_1">Comienza a evaluar a tu chatbot</p>

    <p id="texto_2">Evalua la idoneidad de los conjuntos de datos, usabilidad y rendimiento de tu chatbot de forma facil y rapida.</p>

    <button id="call_to_action" type="button" class="btn btn-primary">Regístrate ahora</button>
  </div>

  <div id="segunda_col">
    <div id="bot"></div>

  </div>

</div>

<div id="tercera_fila">

  <div class="fila">
    <p>Organiza tus iteraciones creando grupos de evaluación </p>

    <div class="imagenes">
      <div id="img1"></div>
      <div id="img2"></div>
    </div>
  </div>

  <div class="fila">
    <p>Crea iteraciones</p>

    <div class="imagenes">
      <div id="img3"></div>
      <div id="img4"></div>
    </div>
  </div>

  <div class="fila">
    <p>Responda preguntas clave para conocer su nivel de madurez</p>
    <div class="imagenes">
      <div id="img5"></div>
    </div>
  </div>

  <div class="fila">
    <p>Visualice sus resultados en un dashboard</p>
    <div class="imagenes">
      <div id="img6"></div>
    </div>
  </div>
</div>
