<app-menu2></app-menu2>
<div id="barra">
  <button class="btn btn-primary">+</button>
<button class="btn btn-primary">+</button>
</div>

<div id="big-box">
  <div id="col1">
    <div id="box-nombre-grupo"><p>Crea un grupo de evaluación</p></div>
  </div>
  <div id="col2">
    <div id="box-crear-iteracion">
      <h2>Crear iteración</h2>
      <button id="btn-crear-iteracion" class="btn btn-primary">+</button>
    </div>
    <div id="box-iteraciones">
      <h2>Iteraciones</h2>
      <div id="iteraciones"></div>
    </div>

  </div>
  <div id="burbu-perfil" style="visibility: hidden" class="cir-perfil">
  </div>
</div>
