
<nav class="navbar navbar-expand-lg bg-body-tertiary" id="menu">
  <div class="container-fluid">
<div id="box-superior">
    <div id="logo_nombre" (click)="IrA('/inicio')" >
      <div id="logo"></div>
      <p id="nombre">Pítore</p>
    </div>
    <div (click)="PropagarNombreIteracion()" class="input-box" id="buscador">
      <i id="logo-buscar"></i>
      <input  [(ngModel)] = "texto"  type="text" placeholder="Buscar iteración">
    </div>
    <div  class="cir-perfil" [style.background-image]="'url(' + usuario.imgUsuario + ')'" (click)=Validador()>
      <div *ngIf="GetValidador()"  class="menu-perfil">
        <div class="filas" (click)="IrA('/perfil')">
          <div [style.background-image]="'url('+usuario.imgUsuario+')'" class="logo_usuario"></div>
          <p>{{usuario.nomUsuario}}</p>
        </div>
        <div class="filas">
          <div  id="salir"></div>
          <p (click)="CerrarSesion()">Cerrar sesión</p>
        </div>

      </div>
    </div>
</div>

  </div>


</nav>

<script>


  </script>
